footer {
  grid-area: footer;
}

.footer {
  width: 100%;
  height: 184px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 120px 64px;
  grid-template-rows: 120px 64px;
}

.footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__block--first {
  background-color: var(--color1);
}

.contact-sheet {
  width: var(--content-width);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-sheet--indent {
  margin: 0 auto;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--color2);
}
.social-links__item img {
  width: 50%;
  height: 50%;
}

address {
  line-height: 1.1721428571rem;
  font-style: normal;
}

.company {
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #828282;
  width: var(--content-width);
}
.company--indent {
  margin: 0 auto;
}
.company__privacy-policy {
  color: #828282;
}

@media (max-width: 30.3571428571em) {
  .contact-sheet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}