@import './calc.scss';

.header {
  grid-area: header;
  width: 100%;
  height: 85px;
  background: var(--bg-color-1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
    height: 100%;
    margin: 0 auto;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  &__text {
    font-family: var(--font-2);
    font-size: rem(12);
    line-height: rem(16);
    letter-spacing: rem(5);
  }
}

.logo-container--black {
  color: #000;
}

.nav {
  line-height: rem(16.41);
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 65px;
  }
}
.toolbar {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 23px;
  }
  &__item {
    &:nth-child(2) {
      position: relative;
    }
  }
}

.counter {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  right: 0;
  background: #E6C8B4;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(5px, -5px);
}

@media (max-width: 930px) {
  
  .nav {
    display: none;
  }
}

@media (max-width: 480px) {
  :root {
    --content-width: 95%;
  }

  .header {
    height: 65px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  
}
